<div class="post">
  <div class="header">
    <h1>Post title</h1>
    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>

  <div class="info">
    <strong>Тут автор</strong>
    <small>12.09.2119</small>
  </div>

  <div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quod,
      excepturi aperiam qui beatae expedita autem eum doloribus unde dignissimos
      ab nisi repellendus eaque corporis odio dicta eveniet maxime numquam
      voluptatibus. Perferendis atque molestias laboriosam illo quibusdam nobis
      sapiente suscipit a. Reiciendis odio dolorum dolor aliquam veniam? Quia,
      omnis labore.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quod,
      excepturi aperiam qui beatae expedita autem eum doloribus unde dignissimos
      ab nisi repellendus eaque corporis odio dicta eveniet maxime numquam
      voluptatibus. Perferendis atque molestias laboriosam illo quibusdam nobis
      sapiente suscipit a. Reiciendis odio dolorum dolor aliquam veniam? Quia,
      omnis labore.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quod,
      excepturi aperiam qui beatae expedita autem eum doloribus unde dignissimos
      ab nisi repellendus eaque corporis odio dicta eveniet maxime numquam
      voluptatibus. Perferendis atque molestias laboriosam illo quibusdam nobis
      sapiente suscipit a. Reiciendis odio dolorum dolor aliquam veniam? Quia,
      omnis labore.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quod,
      excepturi aperiam qui beatae expedita autem eum doloribus unde dignissimos
      ab nisi repellendus eaque corporis odio dicta eveniet maxime numquam
      voluptatibus. Perferendis atque molestias laboriosam illo quibusdam nobis
      sapiente suscipit a. Reiciendis odio dolorum dolor aliquam veniam? Quia,
      omnis labore.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quod,
      excepturi aperiam qui beatae expedita autem eum doloribus unde dignissimos
      ab nisi repellendus eaque corporis odio dicta eveniet maxime numquam
      voluptatibus. Perferendis atque molestias laboriosam illo quibusdam nobis
      sapiente suscipit a. Reiciendis odio dolorum dolor aliquam veniam? Quia,
      omnis labore.
    </p>
  </div>
</div>
